#p01{
	font-family: Verdana, sans-serif;
	width: 500px;
    height: 100px;
    margin: 0 auto;
	border: 5px solid blue;
	padding: 20px;
    top: 50%;
	left: 50%;
}

.p02{
	font-family: Verdana, sans-serif;
	width: 150px;
    height: 100px;
    margin: 0 auto;
	border: 5px solid blue;
	text-align: center;
	padding: 20px;
}