table.t1 {
margin: 0 auto;
border-collapse: separate;
border-spacing: 10px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
}
.t1 th, .t1 td {
	background-image: url("frame.jpg");
 	background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
    width: 400px
}

.t1 tbody th, .t1 tbody tr:nth-child(odd) td {
	margin-top: 100px;
	padding: 0px;
}

#titles{
	font-family: Apple Chancery, cursive;
	color: white;
	font-size: 30px;
}	

#try{
	border: 15px solid black;
	width: 700px;
	margin: 0 auto;
}	

html{
	background-image: url("wallpaper.jpg");
 	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#links{
	height: 100px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
	padding: 15px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: black;
	border: 5px solid blue;
}

#bgc{
	margin: 0 auto;
	margin-top: 0px;
	height: 90px;
	width: 175px;
	padding: 3px;
	background-color: white;
}	

#pg2{
	margin-top: 30px;
}